@charset "UTF-8";

@font-face {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;

  src: local('FontAwesome'),
  url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fontawesome/FontAwesome.otf') format('opentype'),
  url('../fonts/fontawesome/fontawesome-webfont.svg#alsrubl') format('svg');
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  font-weight: 400;
  font-style: normal;

  src: local('Circe'), local('Circe-Regular'),
  url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Circe-Regular.woff') format('woff'),
  url('../fonts/Circe-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  font-weight: 200;
  font-style: normal;

  src: local('Circe ExtraLight'), local('Circe-ExtraLight'),
  url('../fonts/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Circe-ExtraLight.woff') format('woff'),
  url('../fonts/Circe-ExtraLight.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  font-weight: 100;
  font-style: normal;

  src: local('Circe Thin'), local('Circe-Thin'),
  url('../fonts/Circe-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Circe-Thin.woff') format('woff'),
  url('../fonts/Circe-Thin.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  font-weight: 300;
  font-style: normal;

  src: local('Circe Light'), local('Circe-Light'),
  url('../fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Circe-Light.woff') format('woff'),
  url('../fonts/Circe-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  font-weight: 700;
  font-style: normal;

  src: local('Circe Bold'), local('Circe-Bold'),
  url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Circe-Bold.woff') format('woff'),
  url('../fonts/Circe-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  font-weight: 800;
  font-style: normal;

  src: local('Circe ExtraBold'), local('Circe-ExtraBold'),
  url('../fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Circe-ExtraBold.woff') format('woff'),
  url('../fonts/Circe-ExtraBold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'ElegantIcons';
  src:url('../fonts/ElegantIcons.eot');
  src:url('../fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ElegantIcons.woff') format('woff'),
  url('../fonts/ElegantIcons.ttf') format('truetype'),
  url('../fonts/ElegantIcons.svg#ElegantIcons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%
}

html {
  box-sizing: border-box
}

*, :after, :before {
  box-sizing: inherit
}

body {
  font-family: 'Circe', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-style: normal;
  color: #333
}

::-webkit-input-placeholder {
  color: #666;
  opacity: 1
}

:-moz-placeholder, ::-moz-placeholder {
  color: #666;
  opacity: 1
}

:-ms-input-placeholder {
  color: #666;
  opacity: 1
}

*, :active, :focus {
  outline: 0
}

body input:focus:required:invalid, body textarea:focus:required:invalid {
  color: #666
}

body input:required:valid, body textarea:required:valid {
  color: #666
}

a {
 color: #e4a547;
}

.content-width {
  min-width: 1201px;
  max-width: 1600px;
  margin: 0 auto;
}

@media all and (max-width: 1200px) {
  .content-width {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}

@media all and (max-width: 1640px) {
}

.btn:active {
  box-shadow: 1px 1px 6px 4px #c5c5c5;
}

.section-title {
  font-size: 25px;
  font-weight: 300;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin: 45px 0;
}

.inner-page-title {
  margin: 0;
  padding: 0;
  padding-bottom: 45px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 300;
  color: #000;
  text-transform: uppercase;
}

.btn-row {
  text-align: center;
}

input[type="submit"],
input[type="reset"] {
  cursor: pointer;
}

.align-center {
  text-align: center;
}

.table {
  display: table;
}

.table .row {
  display: table-row;
}

.table .cell {
  display: table-cell;
}

@media all and (max-width: 1640px) {
  .main-content-area {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.btn-green {
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #95be70;
  text-decoration: none;
  color: #fff;
  padding: 15px;
  text-align: center;
  width: 100%;
}

.btn-border-green {
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #fff;
  border: 2px solid #95be70;
  text-decoration: none;
  color: #95be70;
  padding: 15px;
  text-align: center;
  width: 100%;
}

.btn-border-yellow {
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  background-color: #fff;
  border: 2px solid #e3a447;
  text-decoration: none;
  color: #e3a447;
  padding: 15px;
  text-align: center;

  &:hover {
    background-color: #e3a447;
    color: #fff;
  }
}

button {
  cursor: pointer;
}

main {
  min-height: 500px;
}

a.btn.more-btn {
  display: inline-block;
  text-decoration: none;
  border: 2px solid #e3a447;
  padding: 13px 26px;
  line-height: 15px;

  &:hover {
    background: #e3a447;
    color: #fff;
  }
}

.btn-yellow {
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #e3a447;
  text-decoration: none;
  color: #1c1c1c;
  padding: 15px;
  text-align: center;
  outline: none;
  border: none;
  box-shadow: none;
}

.visible-mobile {
  display: none;
}

@media all and (max-width: 940px) {
  .visible-mobile {
    display: block;
  }

  .hidden-mobile {
    display: none;
  }

  .showFull .caret {
    display: none;
  }
}

.information__subscribe  .main-user-consent-request {
  display: block;
  width: 100%;
}

.information__subscribe  .main-user-consent-request  input {
  width: auto;
  display: inline-block;
  vertical-align: top;

}

.information__subscribe .main-user-consent-request   span {
  width: auto;
  display: inline-block;
  vertical-align: top;
}


.main-user-consent-request-popup-button-acc {
  background: #e4a547;
}


.main-user-consent-request-popup-button-acc:hover {
  background: #f5c47c;
}

#basket-items-list-wrapper .basket-items-list {
  padding: 0;
}

#basket-items-list-wrapper .basket-items-list-item-descriptions {
  border-left: none;
  width: 50%;

}

#basket-items-list-wrapper .basket-items-list-item-remove {
  border-right: none;
  width: 5%;
}

#basket-items-list-wrapper .basket-items-list-item-price {
  width: 15%;
}

#basket-items-list-wrapper  .basket-items-list-item-amount {
  width: 15%;
}

#basket-items-list-wrapper .basket-item-block-actions {
  opacity: 1;
  text-align: center;
}


#basket-items-list-wrapper h2.basket-item-info-name {
  text-align: left;
  padding-left: 10px;
}

#basket-items-list-wrapper .basket-item-actions-remove {
  display: inline-block
}

#basket-items-list-wrapper .basket-item-block-price {

  text-align: center;

}

#basket-items-list-wrapper .basket-item-block-amount {
  justify-content: center;
}

#basket-items-list-wrapper .basket-item-price-title {
  text-align: center;
}

#basket-items-list-wrapper.basket-items-list-wrapper {
  margin-bottom: 35px;
}

#basket-root  .basket-coupon-section {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;

}

#basket-root.bx-yellow .btn.btn-default {
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #e3a447;
  text-decoration: none;
  color: #fff;
  padding: 15px;
  text-align: center;
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
}

#basket-root .basket-checkout-block-total-price {
  padding-left: 25px;
}

#basket-root .basket-checkout-block-btn {
  padding-left: 25px;
}

#basket-root .basket-coupon-block-field-description {
  padding-bottom: 10px;
}

@media (min-width: 767px) and (max-width: 1023px) {
  #basket-items-list-wrapper .basket-item-info-name-link {
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
  }

  #basket-items-list-wrapper .basket-item-price-current-text {
    font-size: 17px;
  }

  #basket-items-list-wrapper .basket-item-amount-filed {
    font-size: 17px
  }

}

@media (max-width: 767px) {

  #basket-items-list-wrapper .basket-items-list-item-descriptions {
    padding-top: 30px;
  }
  #basket-items-list-wrapper .basket-items-list-item-price {
    height: 78px;
  }

  #basket-items-list-wrapper .basket-items-list-item-amount {
    width: 33.33%;
    height: 78px;
    box-sizing: border-box;
    padding: 3px 0;
  }

  #basket-items-list-wrapper .basket-item-block-price {
    padding-top: 17px;
  }

  #basket-items-list-wrapper .basket-items-list-item-remove {
    border: none;
    width: auto;
  }

  #basket-items-list-wrapper .basket-item-block-actions {
    position: absolute;
    top: 15px;
    right: 10px;
  }

  #basket-items-list-wrapper.basket-items-list-wrapper {
    border: none;
  }

  tr.basket-items-list-item-container {
    border-top: none;
  }

  #basket-items-list-wrapper .basket-items-list-item-descriptions {
    border: 1px solid #c7c6c6;
    border-top: 1px solid #c7c6c6 !important;
    border-bottom: none;
  }

}

@media (min-width: 580px) and (max-width: 767px) {
  #basket-items-list-wrapper .basket-items-list-item-price {
    width: 33.3%;
  }

  #basket-items-list-wrapper .basket-items-list-item-descriptions-inner {
    align-items: center;
  }

  #basket-items-list-wrapper .basket-item-block-image {
    padding-bottom: 0;
  }

  #basket-items-list-wrapper .basket-items-list-item-amount {
    border-left: none;
    border-right: none;
  }

}


@media (max-width: 580px) {
  #basket-items-list-wrapper .basket-items-list-item-descriptions {
    border-bottom: none;
  }

  #basket-items-list-wrapper .basket-items-list-item-price {
    width: 50%;

  }

  #basket-items-list-wrapper h2.basket-item-info-name {
    text-align: center;
    padding-left: 0;
  }

  #basket-items-list-wrapper .basket-item-block-image {
    padding-bottom: 0;
    margin-bottom: 0;
  }


}

@media (max-width: 460px) {
  #basket-items-list-wrapper .basket-item-price-title {
    text-align: right;
  }
}
